@import url(base.css);

.identify-interface{
    position: absolute;
    background:#fdfcfc;
    left:0;
    right: 0;
    top:0;
    bottom: 0;
}
.identify-user{
    width:2.95rem;
    height: 2.96rem;
    margin:1.86rem auto 0.29rem;
}
.identify-user img{
    width:2.95rem;
    height: 2.96rem;
}
.markedword{
    font-size: 0.28rem;
    font-family: "苹方 粗体";
    text-align: center;
    color:#33cf54;
    line-height: 0.55rem;
}
.markedword2{
    font-size: 0.22rem;
    font-family: "苹方 粗体";
    text-align: center;
    color:#b6b5b5;
    line-height: 0.45rem;
}
.input-box{
    width: 5.32rem;
    height: 0.63rem;
    margin: 1.46rem auto;
    border-bottom: 2px solid #eeeded;
}
.sign{
    width:0.18rem;
    height: 0.08rem;
    background: #ffcb2e;
    border-radius: 0.04rem;
    float: left;
    margin-top: 0.26rem;
}
.name-box{
    width: 4.92rem;
    height:100%;
    margin-left: 0.22rem;
    border:0;
    outline: none;
    float: left;
}
.start-identify{
    width:4.68rem;
    height:0.7rem;
    font-size: 0.24rem;
    border: none;
    color:#bebebe;
    background:#f0efef;
    margin: 2.25rem auto 0;
    border-radius: 0.35rem;
    display: block;
}
/*人-波*/

.box{
    width:2.3rem;
    height:2.3rem;
    /*border: 0.02rem solid black;*/
    position: relative;
    /*background: pink;*/
    margin:1.86rem auto 0.43rem;
}
.circle1{
    width:2.2rem;
    height:2.2rem;
    border-radius: 50%;
    background:#dcf0e7;
    /*margin: 0.20rem 0.20rem;*/
    border: 0.01rem solid rgba(0,0,0,0);
}
.circle2{
    width:2.2rem;
    height:2.2rem;
    border-radius: 50%;
    /*margin: 0.20rem 0.20rem;*/
    animation:zoom2 2s infinite;
    border: 0.01rem solid rgba(0,0,0,0);
}
.circle3{
    width:2.2rem;
    height:2.2rem;
    border-radius: 50%;
    /*margin: 0.20rem 0.20rem;*/
    border: 0.01rem solid rgba(0,0,0,0);
    animation:zoom3 2s infinite;

}
.circle1,.circle2,.circle3{
    position: absolute;
    top:0;
    left:0;
}
.head{
    width:0.66rem;
    height:0.66rem;
    border-radius: 50%;
    margin: 0.46rem auto 0.16rem;
}
.body{
    width:1.24rem;
    height:0.6rem;
    border-radius: 0.3rem;
    margin: 0 auto;

}
.head,.body{
    background-image:-webkit-linear-gradient(top,#33d14f,#33c48c);
    background-image:-moz-linear-gradient(top,#33d14f,#33c48c);
    background-image:-ms-linear-gradient(top,#33d14f,#33c48c);
    background-image:-o-linear-gradient(top,#33d14f,#33c48c);
    background-image:linear-gradient(top,#33d14f,#33c48c);
    box-shadow:0 0.1rem 0.2rem 0.02rem #72cea6;
}
@keyframes zoom2{
    0%{
        transform: scale(1);
        background:#eaf5f0 ;
    }
    100%{
        transform: scale(1.3);
        background:#eaf5f0 ;
    }
}
@keyframes zoom3{
    0%{
        transform: scale(1);
        background:#f3f8f6;
    }
    100%{
        transform: scale(1.6);
        background:#f3f8f6;
    }
}
